<div class="container-fluid">

  <h1> Juros simples </h1>
  <h2>Digite o valor desejado para o cálculo:</h2>

  <input type="number" min="0" [(ngModel)]="capit" />
  <hr />
  <h2>Digite a taxa de juros em %:</h2>
  <input type="number" min="0" [(ngModel)]="taxa" />
  <hr />
  <h2>Digite o tempo em meses:</h2>
  <input type="number" min="1" value="0" [(ngModel)]="tempo" />

  <hr />
  <table class="table" style="border:2px solid">
    <thead>
      <tr>
        <th>Capital</th>
        <th>Taxa(%)</th>
        <th>Tempo (meses)</th>
        <th>Juros</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of getCapitalList(); index as i">
        <td>
          {{getCapital()}}
        </td>

        <td>{{getTaxa()}}</td>

        <td>{{getTempo()}}</td>

        <td>{{getResult().toFixed(2)}}</td>

      </tr>
    </tbody>
  </table>
  <div>
    O valor do juros é de R${{getResult()}} e o acumulado é de R${{getCapital()
    ++ getResult().toFixed(2)}}.
  </div>

</div>